In [ ]:
print("Hello world")

Hello world

In [ ]:
a = 5
print(type(a))

<class 'int'>

In [ ]:
name = input("Enter your name")
print(name)

Enter your nameAmeya
Ameya

In [ ]:
a = "Ameya"
b = 13
c = 13.56
d = True
x = 5
y = 6
complexNum = complex(x,y)

In [ ]:
#Arithmatic operators
# + - * / % // **

# Logical operators
# and or not

# Assignment operator
# a += b
# a = b
# a -= b

#Strings
# Operation on strings
a = "aMEYA"
print(a.lower())

print(a.upper())

j = "Am"
k = "Eya"

jointname = j + k
print(jointname)

ameya
AMEYA
AmEya

In [ ]:
print("Ameya")

Ameya

In [ ]:
firstnumber = input("Enter the number")

Enter the number3

In [ ]:
print(firstnumber)

3

In [ ]:
# code to enter a number and display it (this is a comment)
# variable = input("Inputmsg")
first = input("Pehela number dalo")
print(first)

Pehela number dalo99
99

In [ ]:
# Datatypes
# int (1,4,5,2,33,2434)
# float (0.4,1.5,3.6,456.56)
# String ("ameya", "shantanu","cv")
# Boolean (True,false)

In [ ]:
ff = float(input("Enter the number")) #Typecasting
print(ff)
cc = ff + 10.50
print(cc) # 16.0

Enter the number5.5
5.5
16.0

In [ ]:
# Calculator (addition,sub,multiplication)

In [ ]:
f1 = float (input("enter first number between 1 to 10"))
f2 = float (input("enter second number between 1 to 10"))
f3 = f1 + f2
f4 = f1 - f2
f5 = f1* f2
f6 = f1/f2 # Full divison
f7 = f1%f2 #Remainder
print(f3,f4,f5,f6,f7)

enter first number between 1 to 105
enter second number between 1 to 102
7.0 3.0 10.0 2.5 1.0

In [ ]:

f1 = int(input("Enter a number: "))
if (f1 % 2) == 0:
   print("number is Even")
else:
   print("number is Odd")

# Pass the code with certain test cases:: 1,3,4,5,6 (Bug) -> Unit testing

Enter a number: 1
number is Odd

In [ ]:
# string operations

jj = input("Enter the first half name of your city")
print(jj)
kk = input("Enter the first second name of your city")
print(kk)
tt = jj + kk
print(tt)  #concatinate

print(tt.upper()) #check the case of input string

Enter the first half name of your citynag
nag
Enter the first second name of your citypur
pur
nagpur
NAGPUR

In [ ]:
# Conditional statements
 #if statement
a = 45
if(a > 50):
  print("Number is greater than 50")
if(a > 40):
  print("Number is greater than 40")

Number is greater than 40

In [ ]:
#a = 5; (Assignment)
#T1 == 5; (COMPARE)
T1 =int(input("Enter the number BETWEEN 1 TO 10"))
if T1< 5:
  print ("Fan On")
if T1> 5:
  print ("Fan Off")
if T1==5: #VVVIMP concept : in conditon check (COMPARE Use)
  print("Invalid Input")

Enter the number3
Fan On

In [ ]:
f1=int(input("Enter a number= "))
if(f1<=4):
  print("FANON")
if(f1>5):
  print("FANOFF")
if (f1==5):
  print("invalid number")